<% provide(:title, 'Log In') %>

<div class="centered">
  <h2>Log In</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email, for: "inputEmail" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100 form-control', id: "inputEmail" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :password, for: "inputPassword" %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'w-100 form-control', id: "inputPassword" %>
  </div>
  
  <% if devise_mapping.rememberable? %>
  <div class="field custom-control custom-checkbox">
    <%= f.check_box :remember_me, class:"custom-control-input", id: "customControlInline" %>
    <%= f.label :remember_me, class:"custom-control-label", for:"customControlInline" %>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Log In", class: "btn button blue-button btn-block mt-3 mb-1" %>
  </div>
  <% end %>
  
  <%= render "users/shared/links" %>
</div>
