<div class="comment-forms">
  <%= form_for(@comment, remote: true) do |f| %>
    <%= hidden_field_tag 'comment[post_id]', post.id %>
    <div class="field form-group">
      <%= f.text_area :content, placeholder: 'Write a comment...', class: 'w-100 form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "Comment", class: 'btn button blue-button d-block mt-3 mb-4' %>
    </div>
  <% end %>
</div>

<% post.comments.date_sorted.each do |c| %>
  <div class="d-flex mt-3">
    <div class="gravatar tiny mr-3">    
      <%= gravatar_for(c.user, options = {size: 40}) %>
    </div>
    <div class="gray-background rounded p-2 w-100">
      <span class="semi-bold"><%= link_to c.user.name, user_path(c.user) %></span>
      <span><%= c.content %></span>
    </div>
  </div>
<% end %>