<% provide(:title, 'New Post') %>

<div class="p-relative h-100">
  <%= form_for(@post, remote: true) do |f| %>
    <div class="field form-group">
      <%= f.text_area :content, placeholder: "What's on your mind?", class: 'w-100 form-control', rows: 8, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Post", class: 'btn button blue-button mt-3 mb-1' %>
      <%= f.file_field :picture, accept: 'image/jpg,image/jpeg,image/gif,image/png', class: 'form-control-file my-1' %>
      <small class="p-1 d-none" id="error-explanation">Maximum file size is 1MB. Please choose a smaller file.</small>
    </div>
  <% end %>

  <%= image_tag "social_life.svg", class: 'img-fluid p-absolute', id: 'new-post-img' %>
</div>
